html{
  background-color: rgb(247, 247, 247);
  color: black;

}

.App {
  display: flex;
  flex-direction: row;
}

.homepage__nav {
  width: 230px; 
  flex-shrink: 0; 
}

.homepage__content {
  flex-grow: 1;
  flex-shrink: 1; 
  flex-basis: 0; 
}

@media (max-width: 880px) {
  .homepage__nav {
      display: none; 
  }
  .homepage__content {
      flex-grow: 1; 
      flex-basis: 100%; 
  }
}